.ScoreBar_body {
  position: absolute;
  top: 8%;
  left: 50%;
  width: 40%;
  height: 10%;
  z-index: 100;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */
}

.box {
  border: 1px solid black !important;
  margin-left: 2px;
  background-color: lightblue !important;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
}

.box p {
  font-weight: bold;
  margin: 0;
  margin-top: 5%;
}
.box span {
  flex-grow: 1;
  font-size: 2em;
}

.score {
  flex-grow: 5;
}

.time {
  flex-grow: 1;
}

.rate {
  flex-grow: 5;
}
