.ScoreBar_body {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 40%;
  height: 10%;
  z-index: 100;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */
}

.box {
  border: 2px solid black !important;
  margin-left: 2px;
  background-color: green !important;
}
